* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  padding: 2rem;
  /* height: 100vh; */
}
input {
  box-sizing: border-box;
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  overflow: hidden;
}

.card p {
  padding: 0.5rem;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.card img {
  padding: 0.25rem;
  max-height: 10rem;
}
